<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KanbanPro {{title}}</title>
    <link rel="stylesheet" href="/assets/vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/vendors/bootstrap-icons/bootstrap-icons.min.css">
</head>

<body class="d-flex flex-column min-vh-100">
    {{>header}}
    {{{body}}}
    {{>footer}}
    <script src="/assets/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>