<footer class="bg-info absolute-bottom">
    <div class="container-fluid d-flex justify-content-between">
        <p class="text-warning">©2026</p>
        <p class="text-warning fw-bolder">KanbanPro</p>
        <p class="text-warning">Hecho por Cuackzoide 🦆😎</p>
    </div>
</footer>